@model CreatePostDto



@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    @await Component.InvokeAsync("_AdminHeadPartial")
</head>

<body>


<div class="container mt-3 mx-auto">
    <main role="main" class="pb-6 mx-auto" style="padding-top: 40px">
        <form method="post">
            <div class="form-group my-3">
                <label style="color: #ffffff" class="h5">Yazar</label>
                <input type="text" asp-for="Author" class="form-control form-control-lg" placeholder="Author"/>
            </div>
            
            
            <div class="form-group my-3">
                <label style="color: #ffffff" class="h5">Başlık</label>
                <input type="text" asp-for="Title" class="form-control form-control-lg" placeholder="Main Title"/>
            </div>

            <div class="form-group my-3">
                <label style="color: #ffffff" class="h5">Ikincil Başlık</label>
                <input type="text" asp-for="secondaryTitle" class="form-control form-control-lg" placeholder="Title"/>
            </div>

            <div class="form-group my-3">
                <label style="color: #ffffff" class="h5">Içerik</label>
                <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1" rows="6" asp-for="Content" placeholder="Description"></textarea>
            </div>

            <div class="form-group my-3">
                <label style="color: #ffffff" class="h5">Ana Resim Url</label>
                <input type="text" asp-for="ImageMain" class="form-control form-control-lg" placeholder="Description"/>
            </div>

            <div class="form-group my-3">
                <label style="color: #ffffff" class="h5">Yardımcı Resim Url</label>
                <input type="text" asp-for="ImageSecondary" class="form-control form-control-lg" placeholder="Description"/>
            </div>

            
            
            <div class="form-group my-3 text-right d-flex justify-content-between">
                <a href="https://localhost:7264/adminpage" class="btn btn-outline-secondary btn-lg">Geri Dön</a>
                <button class="btn btn-outline-primary btn-lg">Kaydet</button>
            </div>


        </form>
    </main>
</div>








@await Component.InvokeAsync("_AdminPageScripts")

</body>
</html>
