@model DataWrapper

@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	@await Component.InvokeAsync("_AdminHeadPartial")
</head>
	<body>
	@await Html.PartialAsync("AllPosts",Model)

	@await Component.InvokeAsync("_AdminPageScripts")

	</body>
</html>

