@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    
    @await Component.InvokeAsync("_HeadPartial")

<body>
        <!-- Navigation-->
        @await Component.InvokeAsync("_NavBarPartial")
        <!-- Page Header-->
        @await Component.InvokeAsync("_CoverPartial")
        <!-- post Content-->
        @await Html.PartialAsync("Content");
        <!-- Footer-->
        @await Component.InvokeAsync("_FooterPartial")
        <!-- Js -->
        @await Component.InvokeAsync("_ScriptsPartial")
    </body>
</html>
